{% extends 'base.html' %}
{% load static %}
{% csrf_token %}


{% block page_title %}
    {{ page_title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}


{% block content %}
    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>
                {% if user.is_authenticated %}
                <div class="single-card__favorite">
                    {% if recipe_atr.is_favorites %}
                        <button class="button button_style_none" name="favorites">
                            <span class="icon-favorite icon-favorite_big icon-favorite_active"></span>
                        </button>
                    {% else %}
                        <button class="button button_style_none" name="favorites" data-out>
                            <span class="icon-favorite icon-favorite_big"></span>
                        </button>
                    {% endif %}
                    <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                </div>
                {% endif %}
            </div>
            <ul class="single-card__items">
                {% include 'foodgram/includes/tag.html'%}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text">
                    <span class="icon-time"></span>
                    {{ recipe.cooking_time }} мин.
                </p>
                <ul class="single-card__items">
                    <li class="single-card__item">
                        <p class="single-card__text">
                            <span class="icon-user"></span>
                            <a class="link" href="{% url 'profile' recipe.author.username %}" style="...">
                                {% firstof recipe.author.get_full_name recipe.author.username %}
                            </a>
                        </p>
                    </li>
                    {% if user == recipe.author %}
                        <li class="single-card__item">
                            <a style="margin-left: 2.5em" href="{% url 'edit' recipe.id %}" class="single-card__text">
                                Редактировать рецепт
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <ul class="single-card__items">
                <li class="single-card__item">
                    {% if recipe_atr.is_purchases %}
                        <button class="button button_style_light-blue-outline" name="purchases">
                            <span class="icon-check button__icon"></span>
                            Рецепт добавлен
                        </button>
                    {% else %}
                        <button class="button button_style_blue" name="purchases" data-out>
                            <span class="icon-plus button__icon"></span>
                            Добавить в покупки
                        </button>
                    {% endif %}
                </li>
                <li class="single-card__item">
                    {% if recipe_atr.is_subscriptions %}
                        <button class="button button_style_light-blue button_size_subscribe" name="subscribe">
                            Отписаться от автора
                        </button>
                    {% else %}
                        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
                            Подписаться на автора
                        </button>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингредиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for recipe_ingredient in recipe.recipe_ingredients.all %}
                        <p class=" single-card__section-item">
                            {{ recipe_ingredient.ingredient.title }} - {{ recipe_ingredient.amount }}
                            {{ recipe_ingredient.ingredient.dimension }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">
                    {{ recipe.description|linebreaksbr }}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}


{% block static_js %}
    <script src="{% static 'js/config/config.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>

    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/components/Purchases.js' %}"></script>
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/components/Subscribe.js' %}"></script>
        <script src="{% static 'js/templates/foodgram/singlePage.js' %}"></script>
    {% else %}
        <script src="{% static 'js/templates/foodgram/singlePageNotAuth.js' %}"></script>
    {% endif %}
{% endblock static_js %}