{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    {{ title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block content %}
    <div class="custom-center-block">
            <h1>{{ title }}</h1>
            <p class="custom-text-block">Ошибка на сервере, попробуйте обновить страницу или обратиться позже.</p>
            <div class="custom-button-block">
                <a class="button button_style_blue" href="{% url 'index' %}">Вернуться на главную</a>
            </div>
    </div>
{% endblock %}
