{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    {{ title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
            <div class="custom-button-block">
                <form action="{% url 'login' %}">
                    <button type="submit" class="button button_style_blue">ОК</button>
                </form>
            </div>
    </div>
{% endblock %}